@font-face {
  font-family: 'Sanomat App Light';
  font-style: normal;
  font-weight: normal;
  src: local('Sanomat App Light'), url('../styles/fonts/SanomatGrabApp/Sanomat Grab App-Light TH.ttf') format('truetype');
}

@font-face {
  font-family: 'Sanomat App Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Sanomat App Regular'), url('../styles/fonts/SanomatGrabApp/Sanomat Grab App-Regular TH.ttf') format('truetype');
}

@font-face {
  font-family: 'Sanomat App Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Sanomat App Medium'), url('../styles/fonts/SanomatGrabApp/Sanomat Grab App-Medium TH.ttf') format('truetype');
}

@font-face {
  font-family: 'Sanomat App Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Sanomat App Bold'), url('../styles/fonts/SanomatGrabApp/Sanomat Grab App-Bold.ttf') format('truetype');
}

::-moz-selection { /* Code for Firefox */
  color: #ffffff;
  background: #00b14f;
}

::selection {
  color: #ffffff;
  background: #00b14f;
}

html {
  font-family: 'Sanomat App Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #1c1c1c;
  // -webkit-font-smoothing: antialiased;
}

.font-normal {
  font-family: 'Sanomat App Regular', sans-serif;
}

.font-medium {
  font-family: 'Sanomat App Medium', sans-serif;
}

.font-bold {
  font-family: 'Sanomat App Bold', sans-serif;
}